#headerMenu>li		{
	background:linear-gradient(rgba(180,180,180,1),rgba(100,100,100,1),rgba(255,255,255,0));
	list-style-type:none;float:center;display:inline-block;padding:5px 5px;}
hr					{display: block;}
h3					{color:#000;}
a					{margin:0;text-decoration:none;}
a:visited 			{color:#aaa;text-decoration:none;}
a:hover				{color:#fff;text-decoration:underline;font-weight:bold;}
a:active			{color:#fff;text-decoration:underline;font-weight:bold;}
#headerMenu			{width:100%;height:100px;padding:5px 10px 5px 10px; color:white;background: repeating-radial-gradient(circle,rgba(0,200,200,0.9),rgba(0,255,255,0));}
#searchDiv			{display:inline;}
#logo {float:left;margin-right:10px}
#shopbag img{-webkit-transition-property: transform; -webkit-transition-duration: 0.3s;margin-right:10px;float:right;}
#headerControl{margin-top:20px;float:right;}
#shopbag:hover img {-webkit-transform: scale(1.5,1.5);}	
#rightBox {float:right;}
#loginPop{margin:auto 10px;width:auto;height:auto;float:right;border-radius: 5px;
	background:rgba(0,0,0,0.4);color:#fff;display: none;}
div>p {display: block;}