@keyframes myfirst
{
from {opacity: 1.0;}
to {opacity: 0.0;margin-left: -100%;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {opacity: 1.0;}
to {opacity: 0.0;margin-left: -100%;}
}

p {
	color:black;
	font-family:Verdana;
}

html *{
   font-family: Verdana;
   font-size:99%;
}

.opening{
	margin-top: -15px;
	margin-left: -8px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	animation-delay:5s;
	-webkit-animation-delay:5s; /* Safari and Chrome */
	animation:myfirst 5s forwards;
	-webkit-animation:myfirst 5s forwards; /* Safari and Chrome */
}

.ocontent{
	position: relative;
	font-size: 50px;
	top: 50%;
	left: 30%;
	width: 70%;
}

.page_container {
	width: 960px;
	height: 730px;
	margin: auto;
	border: 4px solid #000000;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#item_status {
	text-align:left;
	float:left;
}

a{
	cursor: hand;
	cursor: pointer;
}

.sbox{                           
	padding: 10px;
}

.sb_name{
	padding-top: 2px;
	padding-left: 4px;
	float: left;
}

.sb_value{
	float: left;
}

.heading {
	width: 960px;
	height: 100px;
	background-color:white;
}

.footer {
	width: 960px;
	height: 100px;
	background-color:white;
}

.navigation {
	width: 940px;
	height: 50px;
	font-family: Ubuntu;
	background-color:#eeeeee;
	padding-left:10px;
	padding-right:10px;
	margin-top:30px;
}

.text_navigation {
	width: 177px;
	height: 30px;
	padding-top:8px;
	text-align: center;
	border-style:outset;
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 3px 1px #888888;
	float: left;
}

.container {
	padding-left:20px;
	width: 940px;
	height: 500px;
	background-color:#dddddd;
	float: left;
	overflow-y: scroll;
}

.logo {
	width:200px;
	margin-left:10px;
	float:left;
}

.registerlogin {
	display: inline-block;
	padding-top:5px;
	margin-right:10px;
	text-align: right;
	float: right;
	background-color:#dddddd;
	font-family:Helvetica;
	width :700px;
}

#popuptext{
	margin-left:10px;
}

.usernamepopup{
	position:relative;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
}

.mask {
	position:absolute;
	width:100%;
	height:125%;
	top:0;
	left:0;
	display:none;
	background-color: rgba(0,0,0,0.5);
}

.popup {
	position:relative;
	width:300px;
	height:200px;
	margin-left:0 auto;
	margin-right:0 auto;
	top:30%;
	left:40%;
	background-color:rgba(200,200,200,1.0);
}

.user {
	width:500px;
	margin-left:650px;
}

.goodsimage{
	width:500px;
	float:left;
}

.pagination{
	margin-top:420px;
}

.category{
	padding : 10px;
	font-family:Verdana;
	font-size:150%;
}

.status{
	float: left;
}

#status{
	text-align:left;
	float:left;
	font-family:Verdana;
	font-size:75%;
}

#quantity{
	float:left;
}

#cart{
	float:left;
}

.goods{
	text-align:center;
	padding-left:5px;
	padding-bottom:5px;
	float:left;
}

.textinput{
	width:400px;
	height:100px;
	resize: none;
}

.numinput{
	width:3em;
}

.data{
	width:400px;
	float:left;
}