body{background: repeating-radial-gradient(#CCCCCC,#DDDDDD);font:14px/21px Arial,Helvetica,sans-serif;}
h1 { font: bold 65px/60px Helvetica, Arial, Sans-serif; text-align: center; color: #eee; text-shadow: 0px 2px 6px #333; }
h2 { font: bold px/18px Helvetica, Arial, Sans-serif; color: #999; }
h1 small{ font-size: 20px; text-transform:uppercase; letter-spacing: 14px; display: block; color: #000; }
h2 a { display: block; text-decoration: none; margin: 0 0 30px 0; font: italic 45px Georgia, Times, Serif;  text-align: center; color: #bfe1f1; text-shadow: 0px 2px 6px #333; }
h2 a:hover { color: #90bcd0; }
#itemPic { list-style:none; width:90%;height:600px; text-align: center; margin:3% auto;}
#itemPic li {
	display:inline;float: left;
	width: 20%;
	height: 60%;
	-webkit-transition-duration: 0.3s;
	-webkit-perspective: 500; -webkit-transform-style: preserve-3d;
	-webkit-transition-property: perspective;}
#itemPic li:hover {-webkit-perspective: 5000;}	
.divimg {
	border: 3px solid rgba(10, 10, 10, 0.2);
	width: 100%;
	height: 100%;
	-webkit-transform: rotateY(30deg);
	-webkit-transition-duration: 0.3s;
	-webkit-box-shadow:0 3px 10px #aaa;
	-webkit-transition-property: transform;}
#itemPic li:hover img { -webkit-transform: rotateY(0deg); }

.itemInf {
	border:5px solid rgba(0, 127, 255, 0.4); width:200px; height:auto; background-color:#deddcd; margin:-195px 0 0 55px; position:absolute;
	-webkit-box-shadow:0 20px 40px #000;
	-webkit-transition-duration: 0.3s;
	-webkit-transform: translateZ(100px) rotateY(30deg);
	-webkit-transition-property: transform, box-shadow, margin;}	
#itemPic li:hover .itemInf {
	-webkit-transform: rotateY(0deg);
	-webkit-box-shadow:0 5px 10px #000;
	margin:-250px 0 0 20px;
}
.itemInf h2 {
	color:#000000;
	font-variant: small-caps;
	font-family:Georgia,serif,Times;
	text-align:center;
}
.itemInf a {
	background-color:#6a5a4a;
	color:#eee;
	text-decoration:none;	
	margin:auto auto 3px auto;
	display:block; width:60%;height: auto;
	-webkit-border-radius:3px; }
.itemInf a:hover, .itemInf a:focus { background-color:#3a2a1a; color:#fff; }

div.center-cropped {
    width: 100%;
    height: 32%;
	margin: 1px 0 1px 0;
    background-position: center center;
    background-repeat: no-repeat;
}