#container {
	width: 100%;
	height: 100%;
	background:lightblue;
	margin: 0;
}

#tab_tengah{
	margin-top:100px;
	margin-left:400px;
	float:left;
	width:520px;
	background-color:lightgrey;
	padding:10px;
	border:5px solid grey;
}

#edit_profile{
	width:40%;
	float:left;
	background-color:lightgrey;
	margin-top:100px;
	padding:10px;
	border:5px solid grey;
}

#kolom_tengah{
	width:10%;
	height:400px;
	float:left;
}

#profilearea {
	width:30%;
	height:300px;
	background-color:lightgrey;
	float:left;
	border:5px solid grey;
	margin-top:100px;
	margin-left:50px;
	padding:10px;
}

.detail_shopping_bag {
	float:left;
}

.baris {
	float:left;
}

.kolombutton{
	width:100%;
	float:left;
	margin-bottom:10px;
}

.kolom1{
	width:120px;
	float:left;
	font: arial;
	font-size:18px;
	margin-bottom:10px;
}

.kolom2{
	width:100px;
	float:left;
	margin-left:10px;
	font: arial;
	font-size:18px;
	margin-bottom:10px;
}

.kolom3{
	width:75px;
	float:left;
	margin-left:10px;
}

.kolom3 input{
	width:50%;
}

.kolom4{
	width:100px;
	float:left;
	margin-left:10px;
}

.kolom4 input{
	width:100%;
}

.tampil_data{
	font: arial;
	font-size:18px;
	margin-bottom:10px;
	width:50%;
	float:left;
}

.form_field{

}

.field_kiri{
	font: arial;
	font-size:18px;
	margin-bottom:10px;
	width:50%;
	float:left;
}

.field_kanan{
	margin-bottom:10px;
	width:50%;
	float:left;
}

.field_kanan input{
	width:100%;
}

.field_kanan select{
	width:33%;
}