/*Homepage CSS*/

/* this is the Item Display Area */

.showitem
{
max-width:800px;
float:left;
background:white;
margin-top:5px;
}

.itembar
{
height:200px;
width:800px;
float:left;
margin-bottom:5px;
margin-top:5px;
}

.itemlist
{
background-color:white;
height:200px;
width:550px;
float:left;
text-align:left;

}

.itempicture
{
height:200px;
width:244px;
float:left;
}

#itempicture1
{
height:200px;
width:244px;
float:left;
}

#itempicture2
{
height:200px;
width:244px;
float:left;
}

#itempicture3
{
height:200px;
width:244px;
float:left;
}

#itempicture4
{
height:200px;
width:244px;
float:left;
}

#itempicture5
{
height:200px;
width:244px;
float:left;
}

#itempicture6
{
height:200px;
width:244px;
float:left;
}

#itempicture7
{
height:200px;
width:244px;
float:left;
}

#itempicture8
{
height:200px;
width:244px;
float:left;
}

#itempicture9
{
height:200px;
width:244px;
float:left;
}

#itempicture10
{
height:200px;
width:244px;
float:left;
}

#others{
	max-width:800px;
}
