body { background-color:black}

.main {
background-color:white;
border:0px ;

 width:100%;
 height:100%;
	border-radius:25px;
}

.header {
background-color:#99d9ea;
border-radius:25px;
border:0px;
height:20%; 
width:100%;
}

.logohead {
background-color:#99d9ea;
border:0px;
height:70%;
border-radius:25px;
}

.logo {


border:1px;
height:100%;
width:37%;
float: left;
border-radius:25px;
}

.cart {

border:1px;
height:50%;
width:20%;
float: right;
}

.menu {
background-color:#99d9ea;
border:0px;
height:30%;
width:100%;
border-radius:25px;
}

.jacket {

border:0px;
height:100%;
width:20%;
float:left;
}

.tshirt {

border:0px;
height:100%;
width:20%;
float:left;
}

.wristband {

border:0px;
height:100%;
width:20%;
float:left;
}

.emblem {

border:0px;
height:100%;
width:20%;
float:left;
}

.pokemon {

border:0px;
height:100%;
width:20%;
float:left;
}

.loginplace {
background-color:#99d9ea;
border:0px;
height:50%;
width:60%;
float: right;
border-radius:25px;
}

.signupplace{
background-color:#99d9ea;
border:0px;
height:50%;
width:60%;
float: right;
margin-bottom:0px;
border-radius:25px;
}

.signup{

border:0px;
height:100%;
width:20%;
float: right;
margin-bottom:0px;
}

.login{

border:0px;
height:100%;
width:20%;
float: right;
border-radius:25px;
margin-bottom:0px;
}

